<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> URL Shortener</h1>
      <% if (locals.urlid) { %>
        <p> URL GENERATED : http://localhost:5001/url/<%= urlid %></p>
      <% } %>
   
     <form action="/url" method="post">
         <label>Enter Your URL</label>
         <input type="text" name="url" placeholder="WWW.example.com">
         <button type="submit">Generate</button>
     </form>
    
</body>
</html>